*/.DS_Store
*.layout

*.o
obj/
bin/
*.exe
a.out

cmake_install.cmake
CMakeFiles/
CMakeScripts/
CMakeCache.txt
compile_commands.json
Makefile
*.xcodeproj
*.build

oclint/
doxygen/
doxygen.err.log

*.plist
